html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("/assets/images/login_bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}
.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.titile-box {
    height: 60px;
    background: url("/assets/images/login_title.png") no-repeat center;
}
.reg-box {
    display: none;
    /* background-color: red; */
}
.layui-form{
    padding: 0 30px;
}
#button1 {
    margin-top: 30px;
}
.links {
    float: right;
}
.layui-form-item {
    position: relative;

}
.layui-icon{
    position: absolute;
    margin: 10px 10px;
}
.layui-form-item input {
    padding-left: 30px;
}